@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using RS1_seminarski.Modelview


@model AutoKarakteristikePrikazWM

    <style>

        #D2 {
            display: inline-block;
        }
    </style>




    <div class="text-center">
        <table class="table table-bordered">
            <thead>
                <tr>


                    <th> Model </th>
                    <th> Godiste  </th>
                    <th> Kilometraza  </th>
                    <td> Gorivo  </td>
                    <th> Snaga  </th>
                    <td> Cijena  </td>
                    <th> Akcija </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var k in Model.OsobineRows)
                {
                    <tr>

                        <td> @k.ModelAutomobila</td>
                        <td> @k.Godiste</td>
                        <td> @k.Kilometraza</td>
                        <td> @k.Gorivo</td>
                        <th> @k.Snaga</th>
                        <th> @k.Cijena</th>


                        <td>
                            <a class="btn btn-primary" href="/AutoKarakteristike/Uredi?ID=@k.KarakteristikeID"> Uredi </a>|
                            <a class="btn btn-danger" href="/AutoKarakteristike/Obrisi?ID=@k.KarakteristikeID"> Obrisi </a>
                        </td>
                    </tr>

                }

            </tbody>


        </table>
    </div>
    <a href="/AutoKarakteristike/Dodaj" class="btn btn-primary"> Dodaj</a>
    <a id="D2" href="/Home/Index" class="btn btn-primary"> Home </a>