@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using RS1_seminarski.Modelview


@model RezervacijaPrikazWM

<style>

    #D2 {
        display:inline-block;
    }

</style>


<div class="text-center">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th> Rezervacija ID </th>
                <th> Datum rezervacije   </th>
                <th> Aktivna  </th>
                <th> Odobrena   </th>
                <th> Zavrsena  </th>
                <th> Akcija  </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var k in Model.RezervacijaRows)
            {
            <tr>
                <td> @k.RezervacijaID</td>
                <td> @k.ImeKlijenta</td>
                <td> @k.DatumRezervacije.ToShortDateString()</td>
                <td> @(k.Aktivna?"DA":"NE")</td>
                <td> @(k.Odobrena?"DA":"NE")</td>
                <td> @(k.Zavrsena?"DA":"NE")</td>
                <td>
                    <a class="btn btn-primary" href="/Rezervacija/Uredi?ID=@k.RezervacijaID"> Uredi </a>|
                    <a class="btn btn-danger" href="/Rezervacija/Obrisi?ID=@k.RezervacijaID"> Obrisi </a>|
                    <a class="btn btn-danger" href="/Rezervacija/Detalji?ID=@k.RezervacijaID"> Detalji  </a>
                </td>
            </tr>

            }

        </tbody>


    </table>
</div>
<a href="/Rezervacija/Dodaj" class="btn btn-primary"> Dodaj</a> 
 <a id="D2" href="/Home/Index" class="btn btn-primary"> Home </a>