@model RS1_seminarski.Modelview.PromijeniLozinkuVM

    <div id="result">

        <h2>Promijeni lozinku</h2>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form method="post" asp-controller="Account" asp-action="PromijeniLozinku" ajax-poziv="da" ajax-rezultat="result">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="@Model.TrenutnaLozinka" placeholder="Trenutna lozinka" class="form-control" />
                        <span asp-validation-for="@Model.TrenutnaLozinka" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="@Model.NovaLozinka" placeholder="Nova lozinka" class="form-control" />
                        <span asp-validation-for="@Model.NovaLozinka" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="@Model.PotvrdiLozinku" placeholder="Potvrdi novu lozinku" class="form-control" />
                        <span asp-validation-for="@Model.PotvrdiLozinku" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-success">Spasi promjene</button>
                </form>
            </div>
        </div>

    </div>