@model RS1_seminarski.Modelview.TwoFactorAuthentication

<div id="result">

    <h2>Two-Factor Authentication</h2>
    <hr />

    <p class="text-info">
        Two-factor authentication (2FA) je poseban tip multi-factor authentication (MFA) koji dodatno povećava sigurnost
        vašeg naloga tako što zahtijeva dvije dodatne metode provjere identiteta.
    </p>

    @if (Model.AktiviranTFA)
    {
        <h5 class="text-success">2FA | Uključen</h5>
    }
    else
    {
        <h5 class="text-danger">2FA | Isključen</h5>
    }

    <br />
    <input class="col-sm-12" disabled value="Email: @Model.Email" />
    <br />
    <br />

    @if (!Model.AktiviranTFA)
    {
        <h5>Ukoliko želite aktivirati 2FA i tako dodatno zaštiti svoj nalog, skenirajte sliku ispod</h5>
        <div>
            <img src="@Model.BarcodeImageUrl" />
        </div>
        <br />
        <h5>ili ručno unesite kod ispod, u vašu "Authenticator" aplikaciju</h5>
        <input class="col-md-12" disabled value="@Model.SetupCode" />
        <br />
        <br />

        <h5>Unesite kod sa aplikacije ispod, kako biste aktivirali 2FA</h5>
        <form method="post" asp-controller="Account" asp-action="UspostavaTFAkoda" ajax-poziv="da" ajax-rezultat="result">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Email" value="@Model.Email" />
            <input type="hidden" asp-for="@Model.AktiviranTFA" value="@Model.AktiviranTFA" />
            <input type="hidden" asp-for="@Model.BarcodeImageUrl" value="@Model.BarcodeImageUrl" />
            <input type="hidden" asp-for="@Model.SetupCode" value="@Model.SetupCode" />
            @if (ViewBag.NetacanKod == "da")
            {
                <h6 class="text-danger">Neispravan kod</h6>
            }
            <div class="form-group">
                <input asp-for="@Model.Kod" value="@Model.Kod" placeholder="npr: 983124" />
            </div>
            <button type="submit" class="btn btn-primary">Potvrdi</button>
        </form>
    }
    else
    {
        <h5>Ukoliko želite deaktivirati 2FA, unesite kod sa aplikacije ispod</h5>
        <form method="post" asp-controller="Account" asp-action="DeaktivirajTFA" ajax-poziv="da" ajax-rezultat="result">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Email" value="@Model.Email" />
            <input type="hidden" asp-for="@Model.AktiviranTFA" value="@Model.AktiviranTFA" />
            <input type="hidden" asp-for="@Model.BarcodeImageUrl" value="@Model.BarcodeImageUrl" />
            <input type="hidden" asp-for="@Model.SetupCode" value="@Model.SetupCode" />
            @if (ViewBag.NetacanKod == "da")
            {
                <h6 class="text-danger">Neispravan kod</h6>
            }
            <div class="form-group">
                <input asp-for="@Model.Kod" value="@Model.Kod" placeholder="npr: 983124" />
            </div>
            <button type="submit" class="btn btn-primary">Potvrdi</button>
        </form>
    }
</div>