@model RS1_seminarski.Modelview.FilterVM;

@{
    ViewData["Title"] = "Home Page";
    var Id = ViewBag.Id;
}

<style>
    * {
        box-sizing: border-box;
    }

    body {
        background-color: rgb(241,238,231);
        display: flex;
        flex-direction: column;
    }

    html {
        overflow-y: scroll;
    }

    #gornji {
        background-color: rgb(242,242,242);
    }

    #filter {
        background-color: white;
        float: left;
        width: 100%;
        padding: 15px;
        margin-bottom: 10px;
        border-bottom: 1px groove floralwhite;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    #lijevi {
        width: 93%;
        float: left;
    }

    #desni {
        width: 7%;
        /*margin-right: 5px;*/
        float: left;
    }

    #reset {
        width: 100%;
        border-bottom-right-radius: 12px;
    }

    #dugme {
        background-color: rgb(156, 171, 78);
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        width: 100%;
        font-weight: 600;
        border-color: white;
    }

    #dugme:hover {
        background-color: rgba(156, 171, 78, 0.6);
    }

    #prvi {
        float: left;
        width: 33.33%;
    }

    input[type=button]:hover {
        background-color: rgb(242,242,242);
        color: black;
    }

    #drugi {
        float: left;
        width: 33%;
    }

    #treci {
        float: left;
        width: 33%;
    }

    table {
        background-color: white;
    }

    thead {
        background-color: rgb(242,242,242);
    }

    .boja {
        background-color: rgb(242,242,242);
        color: black;
    }

    [data-href] {
        cursor: pointer;
    }
</style>
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
</head>
<body>
    <div id="sve">
        <div id="gornji" class="text-center">
            <h1 class="display-4">Pregled Vozila</h1>
            <hr />
        </div>

        <div id="donji">
            <div id="filter">
                <form id="selectForma" asp-action="Prikaz" asp-controller="Home" method="post" asp-route-Id="@Id" ajax-poziv="da" ajax-rezultat="pregled">
                    <input type="text" hidden asp-for="@Model.BojaID" value="---" />
                    <input type="text" hidden asp-for="@Model.BrojVrataID" value="---" />
                    <input type="text" hidden asp-for="@Model.GorivoID" value="---" />
                    <input type="text" hidden asp-for="@Model.PogonID" value="---" />
                    <input type="text" hidden asp-for="@Model.TransmisijaID" value="---" />
                    <input type="text" hidden asp-for="@Model.SnagaODID" value="---" />
                    <input type="text" hidden asp-for="@Model.SnagaDOID" value="---" />
                    <input type="text" hidden asp-for="@Model.SvjetlaID" value="---" />

                    <div id="lijevi">
                        <div id="prvi">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">
                                    Stanje:
                                </label>
                                <div class="col-sm-6 divStanja">
                                    <select hidden class="form-control" asp-for="@Model.StanjeID" asp-items="@Model.Stanje"></select>
                                    <input type="button" name="Novo" class="btn btn-secondary" value="Novo" onclick="OdabirNovo()">
                                    <input type="button" name="Polovno" class="btn btn-secondary" value="Polovno" onclick="OdabirPolovno()">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">
                                    Proizvodjac:
                                </label>
                                <div class="col-sm-6">
                                    <select class="form-control proizvodjac" asp-for="@Model.ProizvodjacID" asp-items="@Model.Proizvodjac"></select>
                                </div>
                            </div>

                            <div class="form-group row modelD">
                                <label class="col-sm-4 col-form-label">
                                    Model:
                                </label>
                                <div class="col-sm-6">
                                    <select class="form-control model" asp-for="@Model.ModelID" asp-items="@Model.Model"></select>
                                </div>
                            </div>
                        </div>

                        <div id="drugi">
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">
                                    Godiste od:
                                </label>
                                <div class="col-sm-5">
                                    <select class="form-control" asp-for="@Model.GodisteODID" asp-items="@Model.GodisteOD"></select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">
                                    Kilometraza od (km):
                                </label>
                                <div class="col-sm-5">
                                    <select class="form-control" asp-for="@Model.KilometrazaODID" asp-items="@Model.KilometrazaOD"></select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">
                                    Cijena od (KM):
                                </label>
                                <div class="col-sm-5">
                                    <select class="form-control" asp-for="@Model.CijenaODID" asp-items="@Model.CijenaOD"></select>
                                </div>
                            </div>
                        </div>

                        <div id="treci">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    do:
                                </label>
                                <div class="col-sm-5">
                                    <select class="form-control" asp-for="@Model.GodisteDOID" asp-items="@Model.GodisteDO"></select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    do:
                                </label>
                                <div class="col-sm-5">
                                    <select class="form-control" asp-for="@Model.KilometrazaDOID" asp-items="@Model.KilometrazaDO"></select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    do:
                                </label>
                                <div class="col-sm-5">
                                    <select class="form-control" asp-for="@Model.CijenaDOID" asp-items="@Model.CijenaDO"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="desni">
                        <a id="reset" class="btn btn-warning" onclick="reset()">RESET</a>
                    </div>
                    <button id="dugme" style="float:right" class="btn btn-success">Pretraga</button>
                </form>
            </div>

            <div id="pregled">
                <span><oblique style="text-align: right; font-weight: bold">Ukupno: @Model.Vozila.Count()</oblique></span>
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Slika</th>
                            <th>Proizvodjac</th>
                            <th>Model</th>
                            <th>Godiste</th>
                            <th>Motor/Gorivo</th>
                            <th>Kilometraza</th>
                            <th>Cijena</th>
                            <th>Stanje</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model.Vozila)
                        {
                            <tr class='clickable-row' data-href='/Home/AutomobilDetaljno?AutomobilID=@x.AutomobilID&Id=@Id'>
                                <td><img src="~/Images/@x.Slika" alt="" height=100 width=150 /></td>
                                <td>@x.Proizvodjac</td>
                                <td>@x.Model</td>
                                <td>@x.Karakteristike.Godiste</td>
                                <td>@x.Karakteristike.Motor @x.Karakteristike.Gorivo</td>
                                <td>@x.Karakteristike.Kilometraza km</td>
                                <td>@x.Karakteristike.Cijena KM</td>
                                <td>@x.Karakteristike.Stanje</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

<script>
    function OdabirNovo() {
        if ($('.divStanja').find(":selected").text() == "---") {
            $('.divStanja option[value=---]').prop('selected', false);
            $('.divStanja option[value=Novo]').prop('selected', true);
        }
        else if ($('.divStanja').find(":selected").text() == "Polovno") {
            $('.divStanja option[value=Polovno]').prop('selected', false);
            $('.divStanja option[value=Novo]').prop('selected', true);
        }
        else {
            $('.divStanja option[value=Novo]').prop('selected', false);
            $('.divStanja option[value=---]').prop('selected', true);
        }
        $("#dugme").trigger('click');
    }
    function OdabirPolovno() {
        if ($('.divStanja').find(":selected").text() == "---") {
            $('.divStanja option[value=---]').prop('selected', false);
            $('.divStanja option[value=Polovno]').prop('selected', true);
        }
        else if ($('.divStanja').find(":selected").text() == "Novo") {
            $('.divStanja option[value=Novo]').prop('selected', false);
            $('.divStanja option[value=Polovno]').prop('selected', true);
        }
        else {
            $('.divStanja option[value=Polovno]').prop('selected', false);
            $('.divStanja option[value=---]').prop('selected', true);
        }
        $("#dugme").trigger('click');
    }

    function reset() {
        $("#selectForma select").val("---");
        $('input[type="button"]').not(this).removeClass("boja");
        $(".modelD").hide();
        $("#dugme").trigger('click');
    }

    $(".model").select2({
        ajax: {
            url: '/Home/DohvatiModele',
            width: 'resolve',
            data: function (params) {
                return {
                    q: params.term,
                    p: $(".proizvodjac").val()
                };
            },
            processResults: function (data) {
                return {
                    results: data.items
                };
            },
            minimumInputLength: 2,
            width: 'resolve'
        }
    });

    $(document).ready(function () {
        $(".modelD").hide();
    })

    $(".proizvodjac").change(function () {
        var selectedProizvodjac = $(this).val();
        $(".model").val("").trigger("change");
        if (selectedProizvodjac != "---") {
            $(".modelD").show();
        }
        else {
            $(".modelD").hide();
        }
    });

    $('input[type="button"]').click(function () {
        $(this).toggleClass('boja');
        $('input[type="button"]').not(this).removeClass("boja");
    });

    jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.location = $(this).data("href");
        });
    });
</script>


