@model RS1_seminarski.Modelview.FilterVM;
@using RS1_seminarski.Helper;
@using Podaci.Entiteti;

@{
    var Id = ViewBag.Id;
}


@*@model IEnumerable<RS1_seminarski.Modelview.PrikazVM>

    @{
        ViewBag.Title = "Prikaz";
        Prikaz grid = new Prikaz(Model); // grid with sorting and paging
    }

    @grid.GetHtml()*@
<style>
    #sve {
        width: 100%;
    }

    #dugmic {
        border-bottom-right-radius: 12px;
        width: 100%;
        font-weight: 600;
        border-color: white;
        background-color: rgba(0,0,0,0.8);
        color: rgba(255,255,255,0.8);
    }

        #dugmic:hover {
            background-color: rgba(0,0,0,0.6);
        }

    #DodatniFilter {
        border-bottom: 1px groove floralwhite;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: white;
        float: left;
        width: 18.5%;
    }

    #tabela {
        float: right;
        width: 81%;
    }

    #naslov {
        background-color: rgba(0,0,0,0.8);
        color: rgba(255,255,255,0.8);
        text-align: center;
        padding-top: 15px;
        font-weight: bold;
    }

    #forma {
        padding: 15px;
    }

    thead {
        background-color: rgb(242,242,242);
    }

    [data-href] {
        cursor: pointer;
    }
</style>
<head>
    <script src="~/jsAutoReser.js"></script>
</head>
<body>
    <div id="sve">
        <div id="DodatniFilter">
            <div id="naslov">
                <oblique>Dodatni filter</oblique>
                <hr />
            </div>
            <div id="forma">
                <form asp-action="PrikazDodatnog" asp-controller="Home" asp-route-Id="@Id" method="post" ajax-poziv="da" ajax-rezultat="tabela">
                    <input type="text" hidden asp-for="@Model.StanjeID" value="@Model.StanjeID" />
                    <input type="text" hidden asp-for="@Model.ProizvodjacID" value="@Model.ProizvodjacID" />
                    <input type="text" hidden asp-for="@Model.ModelID" value="@Model.ModelID" />
                    <input type="text" hidden asp-for="@Model.CijenaODID" value="@Model.CijenaODID" />
                    <input type="text" hidden asp-for="@Model.CijenaDOID" value="@Model.CijenaDOID" />
                    <input type="text" hidden asp-for="@Model.GodisteODID" value="@Model.GodisteODID" />
                    <input type="text" hidden asp-for="@Model.GodisteDOID" value="@Model.GodisteDOID" />
                    <input type="text" hidden asp-for="@Model.KilometrazaODID" value="@Model.KilometrazaODID" />
                    <input type="text" hidden asp-for="@Model.KilometrazaDOID" value="@Model.KilometrazaDOID" />
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label">
                            Boja:
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control proizvodjac" asp-for="@Model.BojaID" asp-items="@Model.Boja"></select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label">
                            Broj vrata:
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control proizvodjac" asp-for="@Model.BrojVrataID" asp-items="@Model.BrojVrata"></select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label">
                            Gorivo:
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control proizvodjac" asp-for="@Model.GorivoID" asp-items="@Model.Gorivo"></select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label">
                            Pogon:
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control proizvodjac" asp-for="@Model.PogonID" asp-items="@Model.Pogon"></select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label">
                            Snaga od (kW):
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control proizvodjac" asp-for="@Model.SnagaODID" asp-items="@Model.SnagaOD"></select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label">
                            Snaga do (kW):
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control proizvodjac" asp-for="@Model.SnagaDOID" asp-items="@Model.SnagaDO"></select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label">
                            Svjetla:
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control proizvodjac" asp-for="@Model.SvjetlaID" asp-items="@Model.Svjetla"></select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label">
                            Transmisija:
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control proizvodjac" asp-for="@Model.TransmisijaID" asp-items="@Model.Transmisija"></select>
                        </div>
                    </div>

                    <button id="dugmic" class="btn btn-success">Pretraga</button>
                </form>
            </div>
        </div>

        <div id="tabela">
            <span><oblique style="text-align: right; font-weight: bold">Ukupno: @Model.Vozila.Count()</oblique></span>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Slika</th>
                        <th>Proizvodjac</th>
                        <th>Model</th>
                        <th>Godiste</th>
                        <th>Motor/Gorivo</th>
                        <th>Kilometraza</th>
                        <th>Cijena</th>
                        <th>Stanje</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model.Vozila)
                    {
                        <tr class='clickable-row' data-href='/Home/AutomobilDetaljno?AutomobilID=@x.AutomobilID&Id=@Id'>
                            <td><img src="~/Images/@x.Slika" alt="" height=85 width=115 /></td>
                            <td>@x?.Proizvodjac</td>
                            <td>@x?.Model</td>
                            <td>@x.Karakteristike?.Godiste</td>
                            <td>@x.Karakteristike?.Motor @x.Karakteristike?.Gorivo</td>
                            <td>@x.Karakteristike?.Kilometraza km</td>
                            <td>@x.Karakteristike?.Cijena KM</td>
                            <td>@x.Karakteristike?.Stanje</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>

<script>
    jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.location = $(this).data("href");
        });
    });
</script>




