<!DOCTYPE html>

@model RS1_seminarski.Modelview.FilterVM;
@using RS1_seminarski.Helper;
@using Podaci.Entiteti;

@{
    ViewData["Title"] = "Home Page";
    var Id = ViewBag.Id;
    var znak = ViewData["korpa"] as string;
    var nekiZnak = ViewData["nekiZnak"] as string;
    @if (znak == "korpa")
        Layout = "~/Views/Shared/_LayoutKorpa.cshtml";
}

<style>
    body {
        background-color: rgb(241,238,231);
        display: flex;
        flex-direction: column;
    }

    [data-href] {
        cursor: pointer;
    }

    #gornji {
        background-color: rgb(242,242,242);
    }

    #dugme {
        width: 100%;
        color: white;
    }

        #dugme a {
            float: right;
            width: 15%;
        }

    #notifikacija {
        text-align: center;
        align-content: center;
    }
</style>
<body>
    <div id="sve">
        @if (znak == "korpa")
        {
            <div id="gornji" class="text-center">
                <h1 class="display-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </svg> Korpa
                </h1>
                <hr />
            </div>
        }
        @if (Model != null)
        {
            <span><oblique style="text-align: right; font-weight: bold">Ukupno: @Model.Vozila.Count()</oblique></span>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Slika</th>
                        <th>Proizvodjac</th>
                        <th>Model</th>
                        <th>Godiste</th>
                        <th>Motor/Gorivo</th>
                        <th>Kilometraza</th>
                        <th>Cijena</th>
                        <th>Stanje</th>
                        @if (znak == "korpa")
                        {
                            <th></th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model.Vozila)
                    {
                        <tr class='clickable-row' data-href='/Home/AutomobilDetaljno?AutomobilID=@x.AutomobilID&Id=@Id'>
                            <td><img src="~/Images/@x.Slika" alt="" height=85 width=115 /></td>
                            <td>@x.Proizvodjac</td>
                            <td>@x.Model</td>
                            <td>@x.Karakteristike.Godiste</td>
                            <td>@x.Karakteristike.Motor @x.Karakteristike.Gorivo</td>
                            <td>@x.Karakteristike.Kilometraza km</td>
                            <td>@x.Karakteristike.Cijena KM</td>
                            <td>@x.Karakteristike.Stanje</td>
                            @if (znak == "korpa")
                            {
                                <td>
                                    <a class="btn btn-danger" asp-action="IzbaciIzKorpe_v2" asp-route-AutomobilID="@x.AutomobilID" asp-route-Id="@Id">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" />
                                            <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z" />
                                        </svg>
                                    </a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
            @if (znak == "korpa")
            {
                <div id="dugme">
                    <a class="btn btn-success" asp-action="ZahtjevZaRezervaciju" asp-route-Id="@Id">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tags" viewBox="0 0 16 16">
                            <path d="M3 2v4.586l7 7L14.586 9l-7-7H3zM2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2z" />
                            <path d="M5.5 5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1v5.086z" />
                        </svg> <b>Rezervisi</b>
                    </a>
                </div>
            }
        }
        else
        {
            <div>
                <h2>Korpa je prazna :(</h2>
            </div>

            <div id="notifikacija">
                @if (nekiZnak == "nekiZnak")
                {
                    <div id="info" style="display: none; align-content: center; width: 30%; text-align: center" class="alert alert-success" role="alert">
                        <b>USPJEŠNO poslan zahtjev za REZERVACIJU!</b>
                    </div>
                }
            </div>
        }
    </div>
</body>
<script>
    jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.location = $(this).data("href");
        });

        if ($("#nekiZnak").val("nekiZnak")) {
            $("#info").show("fast");
            setTimeout(function () {
                $("#info").hide("slow");
            }, 5000);
        };
    });
</script>
