@model RS1_seminarski.Modelview.UrediOpremuVM;
@using RS1_seminarski.Helper;
@using Podaci.Entiteti;

@inject SignInManager<KorisnickiNalog> signInManager;

@{
    ViewData["Title"] = "Uređivanje opreme";
    var Id = ViewBag.Id;
    var err = ViewData["error"] as string;
}

<style>
    body {
        background-color: rgb(241,238,231);
        display: flex;
        flex-direction: column;
    }

    table {
        background-color: white;
    }

    thead {
        background-color: rgb(242,242,242);
    }

    #dugmeDodaj {
        width: 10%;
        float: right;
        border: 1px dotted grey;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border: 1px dotted grey;
    }

    #dugmeNazad {
        width: 10%;
        float: right;
        border: 1px dotted grey;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border: 1px dotted grey;
        margin-right: 5px;
    }

    #icon {
        margin-right: 3px;
    }
</style>
<body>
    <h3>@Model.Automobil</h3>
    <hr />
    <h5>Paket opreme: <b>@Model.PaketOpreme</b></h5>
    <div id="oprema">
        <span><oblique style="text-align: right; font-weight: bold">Ukupno: @Model.ListaOpreme.Count()</oblique></span>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Naziv opreme</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var o in Model.ListaOpreme)
                {
                    <tr>
                        <td style="width: 80%;">@o.OpisOpreme</td>
                        <td style="width: 20%;">
                            <div style="width: 100%; float:left;">
                                <a style="width: 75%; border: 1px dotted grey; float:left;" class="btn btn-light" asp-action="UrediNazivOpreme" asp-route-OpremaID="@o.OpremaID" asp-route-AutomobilID="@Model.AutomobilID" asp-route-PaketOpremeID="@Model.PaketOpremeID" asp-route-Id="@Id" ajax-poziv="da" ajax-rezultat="dodavanjeOpreme">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                    </svg>
                                </a>
                                <a style="width: 25%; border: 1px dotted grey; float:left;" class="btn btn-danger" asp-action="ObrisiOpremu" asp-route-OpremaID="@o.OpremaID" asp-route-AutomobilID="@Model.AutomobilID" asp-route-Id="@Id">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" />
                                        <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z" />
                                    </svg>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div id="add">
            <a id="dugmeDodaj" class="btn btn-light" asp-action="DodajOpremu" asp-route-AutomobilID="@Model.AutomobilID" asp-route-PaketOpremeID="@Model.PaketOpremeID" asp-route-Id="@Id" ajax-poziv="da" ajax-rezultat="dodavanjeOpreme">
                <svg id="icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg> <b>Dodaj</b>
            </a>
            <a id="dugmeNazad" class="btn btn-primary" asp-action="AutomobilDetaljno" asp-route-AutomobilID="@Model.AutomobilID" asp-route-Id="@Id">
                <svg id="icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z" />
                </svg> <b>Nazad</b>
            </a>
        </div>
        <br />
        <br />
        @if (err == "error")
        {
            <div id="info" style="display: none; float:left; width: 100%; text-align: center" class="alert alert-danger" role="alert">
                <b>Naziv opreme mora sadrzavati minimalno 3 karaktera!</b>
            </div>
        }
        @if (err == "vecpostoji")
        {
            <div id="info2" style="display: none; float:left; width: 100%; text-align: center" class="alert alert-danger" role="alert">
                <b>Naziv opreme vec postoji!</b>
            </div>
        }
        @if (err == "uspjesnoEvidentirano")
        {
            <div id="info3" style="display: none; float:left; width: 100%; text-align: center" class="alert alert-success" role="alert">
                <b>Uspjesno evidentirano!</b>
            </div>
        }
        @if (err == "uspjesnoObrisano")
        {
            <div id="info4" style="display: none; float:left; width: 100%; text-align: center" class="alert alert-success" role="alert">
                <b>Uspjesno obrisano!</b>
            </div>
        }
        <div id="dodavanjeOpreme">

        </div>
    </div>
</body>
<script>
    if ($("#err").val("error")) {
        $("#info").show("fast");
        setTimeout(function () {
            $("#info").hide("slow");
        }, 5000);
    };

    if ($("#err").val("vecpostoji")) {
        $("#info2").show("fast");
        setTimeout(function () {
            $("#info2").hide("slow");
        }, 5000);
    };

    if ($("#err").val("uspjesnoEvidentirano")) {
        $("#info3").show("fast");
        setTimeout(function () {
            $("#info3").hide("slow");
        }, 5000);
    };

    if ($("#err").val("uspjesnoObrisano")) {
        $("#info4").show("fast");
        setTimeout(function () {
            $("#info4").hide("slow");
        }, 5000);
    };
</script>