@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using RS1_seminarski.Modelview


@model KlijentPrikazWM


<style>

    #D2 {
        display: inline-block;
    }
</style>





<div class="text-center">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th> Ime </th>
                <th> Prezime  </th>
                <th> KorisnickoIme  </th>
                <td> Datum registracije </td>
                <th> Grad   </th>
                <th> Adresa  </th>
                <th>   Aktivan   </th>
                <th> Akcija   </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var k in Model.KlijentRows)
            {
                <tr>
                    <td> @k.Ime</td>
                    <td> @k.Prezime</td>
                    <td> @k.KorisnickoIme</td>
                    <td> @k.DatumRegistracije.ToShortDateString()</td>
                    <td> @k.NazivGrada</td>
                    <td> @k.Adresa</td>
                    <td> @(k.Activan?"DA":"NE")</td>

                    <td>
                        <a class="btn btn-primary" href="/Klijent/Uredi?ID=@k.KlijentID"> Uredi </a>|
                        <a class="btn btn-danger" href="/Klijent/Obrisi?ID=@k.KlijentID"> Obrisi </a>
                    </td>
                </tr>

            }

        </tbody>


    </table>
</div>
<a href="/Klijent/Dodaj" class="btn btn-primary"> Dodaj</a>
<a id="D2" href="/Home/Index" class="btn btn-primary"> Home </a>