@model List<RS1_seminarski.Modelview.AzurirajKorisnickeUlogeVM>

@{ 
    var Id = ViewBag.Id;
}

<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Dodaj ili ukloni uloge ovog naloga</h2>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Count(); i++)
            {
                <div class="form-check m-1">
                    <input hidden asp-for="@Model[i].UlogaID" />
                    <input hidden asp-for="@Model[i].NazivUloge" />
                    <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model[i].IsSelected">
                        @Model[i].NazivUloge
                    </label>
                </div>
            }
        </div>
        <div class="card-footer">
            <input type="submit" class="btn btn-success" style="width: auto" value="Spasi promjene" asp-controller="Administracija" asp-action="AzurirajKorisnickeUloge" asp-route-Id="@Id" />
            <a class="btn btn-primary" style="width: auto" asp-controller="Administracija" asp-action="UrediKorisnika" asp-route-Id="@Id">Nazad</a>
        </div>
    </div>
</form>