@model RS1_seminarski.Modelview.KorisnikMogucnostiVM;

<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Dodaj ili ukloni mogućnosti ovog naloga</h2>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Mogucnosti.Count(); i++)
            {
                <div class="form-check m-1">
                    <input hidden asp-for="@Model.Mogucnosti[i].TipMogucnosti" />
                    <input asp-for="@Model.Mogucnosti[i].IsSelected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model.Mogucnosti[i].IsSelected">
                        @Model.Mogucnosti[i].TipMogucnosti
                    </label>
                </div>
            }
        </div>
        <div class="card-footer">
            <input type="submit" value="Spasi promjene" class="btn btn-success" style="width: auto" asp-controller="Administracija" asp-action="AzurirajKorisnickeMogucnosti"/>
            <a asp-action="UrediKorisnika" asp-route-Id="@Model.Id" class="btn btn-primary" style="width: auto">Nazad</a>
        </div>
    </div>
</form>

