@model List<RS1_seminarski.Modelview.ListaKorisnikaVM>

@{
    ViewData["Title"] = "Pregled naloga";
    var posljednjiAdmin = ViewData["posljednjiAdmin"] as string;
}

<h2>Pregled naloga</h2>

@if (posljednjiAdmin == "posljednjiAdmin")
{
    <div id="info" style="display: none; width: 100%; text-align: center" class="alert alert-danger" role="alert">
        <b>Brisanje nije moguće! Vi ste posljednji ADMIN! </b>
    </div>
}

@if (Model.Any())
{
    <a class="btn btn-primary mb-3" style="width: auto" asp-controller="Account" asp-action="Registracija">Dodaj novi nalog</a>

    for (int i = 0; i < Model.Count(); i++)
    {
        <div class="card mb-3">
            <div class="card-header">
                <div>
                    Korisnicko ime: <b>@Model[i].KorisnickoIme</b>
                </div>
                <div>
                    Email: <b>@Model[i].Email</b>
                </div>
                <div>
                    Datum registracije: <b>@Model[i].DatumReg</b>
                </div>
            </div>

            <div class="card-body">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Ime</th>
                            <th>Prezime</th>
                            <th>Spol</th>
                            <th>Adresa</th>
                            <th>Grad</th>
                            <th>Poštanski broj</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model[i].Ime</td>
                            <td>@Model[i].Prezime</td>
                            <td>@Model[i].Spol</td>
                            <td>@Model[i].Adresa</td>
                            <td>@Model[i].Grad</td>
                            <td>@Model[i].PoštanskiBr</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" asp-controller="Administracija" asp-action="UrediKorisnika" asp-route-Id="@Model[i].Id">Uredi</a>

                <span id="PotvrdiBrisanjeSpan_@Model[i].Id" style="display:none">
                    <span>Da li zaista želite obrisati?</span>
                    <a data-href="/Administracija/ObrisiKorisnika?Id=@Model[i].Id" style="width:auto; color: white; cursor: pointer;" class="btn btn-danger clickable-row">Da</a>
                    <a href="#" class="btn btn-primary" onclick="potvrdaBrisanja('@Model[i].Id', false)">Ne</a>
                </span>

                <span id="BrisanjeSpan_@Model[i].Id">
                    <a href="#" class="btn btn-danger" onclick="potvrdaBrisanja('@Model[i].Id', true)">Obrisi</a>
                </span>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            Trenutno nema naloga :(
        </div>
        <div class="card-body">
            <h5 class="card-title">Klikni na dugme ispod za kreiranje novog naloga</h5>
            <a class="btn btn-primary" style="width: auto" asp-controller="Account" asp-action="Registracija">Dodaj novog korisnika</a>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        if ($("#posljednjiAdmin").val("posljednjiAdmin")) {
            $("#info").show("fast");
            setTimeout(function () {
                $("#info").hide("slow");
            }, 5000);
        };
        $(".clickable-row").click(function () {
            window.location = $(this).data("href");
        });
    });

    function potvrdaBrisanja(uniqueId, isDeleteClicked) {
        var BrisanjeSpan = 'BrisanjeSpan_' + uniqueId;
        var PotvrdiBrisanjeSpan = 'PotvrdiBrisanjeSpan_' + uniqueId;

        if (isDeleteClicked) {
            $('#' + BrisanjeSpan).hide();
            $('#' + PotvrdiBrisanjeSpan).show();
        }
        else {
            $('#' + BrisanjeSpan).show();
            $('#' + PotvrdiBrisanjeSpan).hide();
        }
    }
</script>
